biopython
blis==0.7.4
catalogue==1.0.0
certifi==2020.12.5
chardet==4.0.0
cymem==2.0.5
environs
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.3.0/en_ner_bionlp13cg_md-0.3.0.tar.gz
idna==2.10
joblib==1.0.0
murmurhash==1.0.5
nmslib>=1.7.3.6
numpy==1.19.5
plac==1.1.3
preshed==3.0.5
psutil==5.8.0
pybind11==2.6.1
pysbd==0.3.3
requests==2.25.1
scikit-learn==0.24.0
scipy==1.6.0
scispacy==0.3.0
spacy==2.3.5
srsly==1.0.5
thinc==7.4.5
threadpoolctl==2.1.0
tqdm==4.56.0
urllib3==1.26.5
wasabi==0.8.0
xmlschema
xlrd
